@using System.Web
@using Microsoft.AspNetCore.Html
@using Rubin.Static
@using Rubin.Static.ViewModels
@using Rubin.Static.Extensions
@model AllPageViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Alle posts";
}

<div class="content-container">
    <div class="main-content">
        @foreach (var post in Model.Posts)
        {
            <h3 class="post-title"><a href="@post.Slug.ToUri()">@post.Title.PostTitle</a></h3>
            <span class="published">@post.PublishedDate.ToLongDateString()</span>
        }
    </div>
</div>