:root {
    --dark-grey-color: #383434;
    --light-grey-color: #eff1f5
}

/* Base Styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffef;
}

.menu {
    width: 50%;
    margin: 20px auto;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ccc;
}

.content-container {
    width: 50%;
    margin: 20px auto;
    padding: 40px;
    padding-top: 10px;
    background: #f9f9ee;
}

.published {
    font-size: 0.8em;
    margin: 0px;
    margin-bottom: 30px;
}



img {
    max-width: 100%;
    height: auto;
}

.post-title {
    margin-bottom: 0px;
    font-size: 2em;
}

    .post-title a {
        text-decoration: underline;
    }

p {
    margin-bottom: 20px;
}

/* Code Styling */
pre {
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: #d63384;
}

/* Enhancements */
.language-cmd {
    color: #007700;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Headings and Important Text */
h1, h2, h3, strong {
    color: #4b637e;
}

/* Links and Buttons */
a {
    color: #4b637e;
    font-size: 1.2em;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

button {
    background-color: #0056b3;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #004494;
    }

blockquote {
    border-left: 4px solid var(--light-grey-color);
    border-bottom: 1px solid var(--light-grey-color);
    padding-left: 16px;
    margin-left: 0;
    font-style: italic;
    color: var(--dark-grey-color);
}

    blockquote p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-bottom: 7px;
        unicode-bidi: isolate;
    }
